
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#wrapper{
    background:linear-gradient(0deg, rgb(255, 255, 255), rgb(225, 225, 225)) ;
    height: 100vh;
    width: 100vw;
}

.container{
    margin: 0 auto;
    position: relative;
    top: 50px;
    width: 450px;
    height: 620px;
    background-color:rgb(235, 235, 235);
    /* border: 1px solid rgb(189, 189, 189); */
    border-radius: 15px;
    box-shadow:2px 10px 25px rgba(147, 147, 147, 0.575);
}

.answer{
    position: relative;
    background-color: rgb(242, 242, 242);
    height: 120px;
    margin-bottom: 20px;
    border-radius: 10px 10px 0 0;
    color: white;
    font-size: 65px;
}

.answer h1{
    position: absolute;
    width: 20px;
    right: 45px;
    margin-right: 5%;
    margin-top: 15px;
    font-size: 80px;
    color: rgb(19, 19, 19);
    font-weight: 100;
}

.num{
    border: 1px solid rgb(255, 255, 255);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    box-shadow:2px 5px 20px rgba(135, 135, 135, 0.625);
    background-color: rgb(238, 238, 238);
    margin: 7px;
    color: rgb(19, 19, 19);
}

.row{
    margin: 0 auto;
    display: flex;
    width: 380px;
}

.row :nth-child(4){
    background-color: rgb(255, 246, 237);
    color: rgb(255, 119, 0);
}

#decimal{
    font-size: 38px;
    font-weight: bold;
}

.math{
    margin: 0 auto;
    height: 70px;
    width: 175px;
    background-color: rgb(255, 246, 237);
    border-radius: 40px;
    box-shadow:2px 5px 20px rgba(129, 129, 129, 0.625);
    border: 2px solid rgb(255, 255, 255);
    cursor: pointer;
    margin-left: 5px;
    margin-top: 12px;
    color: rgb(255, 119, 0);
    font-size: 50px;
}

button{
    outline: rgb(165, 26, 149);
}

.previous-operand{
    position: absolute;
    top: 15px;
    right: 20px;
    color: rgb(104, 104, 104);
    font-weight: 100;
    font-size: 29px;
}

.current-operand{
    position: absolute;
    top: 50px;
    right: 20px;
    color: rgb(24, 24, 24);
    font-weight: 300;
}